.Gamediv{
    display: flex;
    flex-wrap: wrap;
    border-radius: 4px;
    padding: 5px;
    width: 90%;
    justify-content: space-around;
    font-family: "Courier New", Courier, monospace;
    text-align: center;
}
.imgGame{
     width: 200px;
  height: 200px;
  border-radius: 50px;
}
.input{
  width: 250px;
  
}
.add{
  width: 200px;
}
.heart{
  font-size: 35px;
  color:rgb(182, 173, 173);
  margin-top: 7px;
   width: 30px;
   outline: none;
   text-transform: uppercase;
   cursor: pointer;
   font-weight: bold;
}
   /* :hover{
       color: rgb(192, 39, 39);
   } */
  .active {
   color: rgb(192, 39, 39);
  }
  .hartColor{
    color: red;
  }
  .ColorHart{
    color: white;
  }